/* Nav bar */
.nav_bar {
  width: 100%;
  background-color: #fff;
  height: 6.2%;
  border-bottom: 1px solid #d8d8d8;
}

.nav_bar_content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* logo */
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo a {
  padding: 1rem 0 0 0;
}

/* input search */
.search {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
#search_name {
  width: 270px; 
  height: 35px; 
  border-radius: .5rem;
  background-color: #f0f0f0;
  color: #000;
  font-size: 1rem;
  font: 300;
  padding-left: 1rem;
}

/* Menu Icons */
.icons {
  width: 26%;
}
.icons_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons_content a img {
  width: 23px;
}
.icons_content a:nth-child(6) img {
  width: 30px;
  border-radius: 50%;
}


/* Profile Bio */
main {
  margin: 0 auto;
  width: 50%;
  height: 80%;
  /* background-color: aquamarine; */
}
#profile-bio {
  width: 100%;
  height: 35.5%;
  display: flex;
  margin-top: 20px;
}

/* Foto de perfil */
.bio_photo{
  width: 34%;
  height: 100%;
}
.bio_photo img {
  width: 150px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Informações da bio */
.bio_infos {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}
.bio_content {
  width: 100%;
  height: 100%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



/* Linha do usuario */
.name_row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.name_user {
  width: 38%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name_user p {
  font-size: 1.6rem;
}
/* Button Edit */
.edit_perfil {
  width: 15%;
}

.edit_perfil button{
  width: 5.5rem;
  padding: .3rem;
  border: 1px solid #c0c0c0;
  border-radius: .3rem;
  background-color: #fff;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
  background-color: #fafafa;
}
.edit_perfil button:active {
  border: 1px solid #c0c0c090;
  color: #c0c0c0;
}
/* Configuração */
.configure img{
  width: 1.5rem;
}



/* Linha seguidores */
.follow_row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.publi p, .seguidores p, .seguindo p {
  font-size: 1rem;
}


/* Linha bio */
.bio_row {
  width: 100%;
}
.bio_row p {
  margin: 5px;
}
.bio_row span {
  font-weight: 900;
}

/* Destaques */
.destaque_container {
  width: 100%;
  height: 200px;
  /* background-color: aqua; */
  border-bottom: 1px solid #c0c0c070;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.destaque_cont {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.destaque_cont p {
  font-weight: bold;
}
.destaque {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #c0c0c070;
  margin: 10px 15px;
  cursor: pointer;
}
.destaque i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #c0c0c070;
}